In [1]:
#Import Libraries
import pandas as pd
import io
import glob

In [2]:
#Bring in the listings file

#Path to files, manually unzipped
path_list = r'../box_downloads/Current Listings Full Files/Unzipped' 
all_files = glob.glob(path_list + "/*.csv")

li = []

#Reduce number of columns to allow import
fields = ['listing_number','listing_status','listing_status_reason','verification_stage','listing_amount','amount_funded','amount_remaining','percent_funded','partial_funding_indicator','funding_threshold','estimated_return','estimated_loss_rate','lender_yield','effective_yield','borrower_apr','listing_monthly_payment','scorex','scorex_change','fico_score','prosper_score','listing_category_id','income_range','income_range_description','stated_monthly_income','income_verifiable','dti_wprosper_loan','employment_status_description','occupation','months_employed','borrower_state','borrower_city','prior_prosper_loans_active','prior_prosper_loans','prior_prosper_loans_principal_borrowed','prior_prosper_loans_principal_outstanding','prior_prosper_loans_balance_outstanding','prior_prosper_loans_cycles_billed','prior_prosper_loans_ontime_payments','prior_prosper_loans_late_cycles','prior_prosper_loans_late_payments_one_month_plus','max_prior_prosper_loan','min_prior_prosper_loan','prior_prosper_loan_earliest_pay_off','prior_prosper_loans31dpd','prior_prosper_loans61dpd','lender_indicator','group_indicator','group_name','amount_participation','monthly_debt','current_delinquencies','delinquencies_last7_years','public_records_last10_years','public_records_last12_months','first_recorded_credit_line','credit_lines_last7_years','inquiries_last6_months','amount_delinquent','current_credit_lines','open_credit_lines','bankcard_utilization','total_open_revolving_accounts','installment_balance','real_estate_balance','revolving_balance','real_estate_payment','revolving_available_percent','total_inquiries','total_trade_items','satisfactory_accounts','now_delinquent_derog','was_delinquent_derog','oldest_trade_open_date','delinquencies_over30_days','delinquencies_over60_days','delinquencies_over90_days','is_homeowner','investment_typeid','investment_type_description']

In [3]:
#Pull in all of the files
for filename in all_files:
    df_list = pd.read_csv(filename, index_col=None, header=0, encoding='latin-1', usecols=fields)
    li.append(df_list)

C:\Users\P2773714\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (25,26,27,531,535) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\P2773714\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (26,33,57,531,535) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\P2773714\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (33,535) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\P2773714\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (535) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\P2773714\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (25,27,512,534) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\P2773714\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (534) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\P2773714\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (33,534) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df_list = pd.concat(li, axis=0, ignore_index=True)

In [5]:
df_list

,listing_number,listing_status,listing_status_reason,verification_stage,listing_amount,amount_funded,amount_remaining,percent_funded,partial_funding_indicator,funding_threshold,...,satisfactory_accounts,now_delinquent_derog,was_delinquent_derog,oldest_trade_open_date,delinquencies_over30_days,delinquencies_over60_days,delinquencies_over90_days,is_homeowner,investment_typeid,investment_type_description
0,91467,5,Expired,NaN,1000.0,50.0,950.0,0.05,False,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,1,Fractional
1,91468,4,Withdrawn,NaN,5000.0,0.0,5000.0,0.00,False,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,1,Fractional
2,150501,4,Withdrawn,NaN,20000.0,0.0,20000.0,0.00,False,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,1,Fractional
3,5329,7,Cancelled,NaN,2000.0,0.0,2000.0,0.00,False,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Fractional
4,6180,5,Expired,NaN,2500.0,0.0,2500.0,0.00,False,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Fractional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2090501,11848522,6,Completed,NaN,10000.0,10000.0,0.0,1.00,True,0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,Whole
2090502,11890572,6,Completed,NaN,3200.0,3200.0,0.0,1.00,True,0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,Whole
2090503,11647223,7,Cancelled,NaN,5000.0,5000.0,0.0,1.00,True,0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,Whole
2090504,11848516,6,Completed,NaN,6000.0,6000.0,0.0,1.00,False,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,Whole
2090505,11935854,6,Completed,NaN,22400.0,22400.0,0.0,1.00,False,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,Whole

In [6]:
df_list.groupby(['listing_status','listing_status_reason']).size().reset_index().rename(columns={0:'count'})

   listing_status listing_status_reason    count
0               2                Active       76
1               4             Withdrawn   149098
2               5               Expired   218198
3               6             Completed  1327720
4               7             Cancelled   394693
5               8    Pending Completion      721

In [7]:
#Just look at Completed listings
df_list = df_list[df_list.listing_status == 6]

In [8]:
df_list.to_csv('Listings_Slim.csv')